:root {
    /*Primary*/
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);

    /* Neutral*/
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}

@font-face {
    font-family: 'Poppins';
    src: url(./assets/fonts/Poppins-Regular.ttf  );
}

@font-face {
    font-family: 'Poppins_ExtraBoldItalic';
    src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf  );
}

body {
    display: grid;
    max-width: 100svw;
    min-height: 100svh;
    margin: 0;
    font-family: 'Poppins';
    container: body / inline-size;
}

main {
    display: grid;
    width: 100cqw;
    height: 100cqh;
    place-items: center;
    background-color: var(--off-white);
}
